:root {
	--primary: #1481ba;
	--secondary: #36393b;
	--light: #eeeeff;
	--white: #f7f7ff;
	--danger: #de6449;
	--success: #49a078;
	--warning: #ffd449;
	--shadow: 0 0.5rem 1rem rgba(33, 37, 41, 0.15);
}

body {
	margin: 0;
	padding: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--light);
}

.container {
	max-width: 1280px;
	margin: auto;
}

/* 
	BUTTON
*/

.btn {
	padding: 0.5rem 0.8rem;
	border: none;
	border-radius: 0.5rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.btn:hover {
	cursor: pointer;
	opacity: 0.8;
}

.btn--primary {
	color: var(--white);
	background-color: var(--primary);
}

.btn--danger {
	color: var(--white);
	background-color: var(--danger);
}

.btn--warning {
	color: var(--secondary);
	background-color: var(--warning);
}

.btn--success {
	color: var(--white);
	background-color: var(--success);
}
